<form #SearchBook = "ngForm" method="POST" (ngSubmit) = "onClickSubmit(SearchBook.value)" >
<table>
  <tr>
    <th>Enter Book Name</th>
    <th><input type="text" name = "bk_name" placeholder = "Enter book name " ngModel></th>
  </tr>
  </table>
  <input type = "submit" value = "Search">
</form>



<table>
      
  <tr>
    <th>Book Author</th>
    <th>Book Create Date</th>
    <th>Book Id</th>
    <th>Book Issue Flag</th>
    <th>Book Name</th>
    <th>Book User</th>
    <th>Book Published Date</th>
    <th>Book Section</th>
  </tr>
  
 <!-- <div>            -->
      <ng-container *ngFor="let book of data">
        <tr>
          <th>{{book.author}}</th>
          <th>{{book.bk_crt_date | date:'dd.MM.yyyy'}}</th>
          <th>{{book.bk_id}}</th>
          <th>{{book.bk_issueflag}}</th>
          <th>{{book.bk_name}}</th>
          <th>{{book.bk_user}}</th>
          <th>{{book.published_date | date:'dd.MM.yyyy'}}</th>
          <th>{{book.section}}</th>
          </tr>
         





        </ng-container>
   <!-- </div>-->
</table>
